.container-calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    button:hover {
        color: black;
        outline: 0.05em solid grey;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .calculator {
        width: 332px;
        margin-top: 50px;
        border: 2px solid #47476b;
        padding: 5px;
        background-color: var(--main-background-color);
        .calculator-input {
            padding: 8px 0;
            background-color: white;
            text-align: right;
            margin: 5px 5px;
            .input {
                min-height: 25px;
                width: 100%;
                font-size: 20px;
            }
        }
        .calculator-keys {
            display: flex;
            .btn-left {
                display: flex;
                flex-wrap: wrap;
                width: 60%;
                margin-left: 4px;
                .btn-calculator-clear {
                    display: inline-block;
                    border-radius: 5px;
                    background-color: var(--main-clear);
                    border: none;
                    color: #FFFFFF;
                    text-align: center;
                    width: 70px;
                    font-size: 22px;
                    padding: 2px 20px;
                    transition: all 0.5s;
                    cursor: pointer;
                }
                .btn-calculator {
                    display: inline-block;
                    border-radius: 5px;
                    background-color: var(--main-color);
                    border: none;
                    color: #FFFFFF;
                    text-align: center;
                    width: 70px;
                    font-size: 22px;
                    padding: 2px 20px;
                    transition: all 0.5s;
                    cursor: pointer;
                }
                .btn-calculator-zero {
                    display: inline-block;
                    border-radius: 5px;
                    background-color: var(--main-color);
                    border: none;
                    color: #FFFFFF;
                    text-align: center;
                    width: 151px;
                    font-size: 22px;
                    padding: 2px 20px;
                    transition: all 0.5s;
                    cursor: pointer;
                }
            }
            .btn-right {
                display: flex;
                margin-right: 2px;
                .btn-col-left {
                    .btn-calculator-dot {
                        display: block;
                        border-radius: 5px;
                        background-color: var(--main-color);
                        border: none;
                        color: #FFFFFF;
                        text-align: center;
                        width: 70px;
                        font-size: 22px;
                        padding: 2px 20px;
                        transition: all 0.5s;
                        cursor: pointer;
                        margin-left: 7px;
                    }
                    .btn-calculator {
                        display: inline-block;
                        border-radius: 5px;
                        background-color: var(--main-color);
                        border: none;
                        color: #FFFFFF;
                        text-align: center;
                        width: 70px;
                        font-size: 22px;
                        padding: 2px 20px;
                        transition: all 0.5s;
                        cursor: pointer;
                    }
                }
                .btn-col-right {
                    display: flex;
                    flex-direction: column;
                    .btn-calculator-result {
                        display: inline-block;
                        border-radius: 5px;
                        background-color: var(--main-result);
                        border: none;
                        color: #FFFFFF;
                        text-align: center;
                        width: 70px;
                        height: 70px;
                        font-size: 22px;
                        padding: 2px 20px;
                        transition: all 0.5s;
                        cursor: pointer;
                    }
                    .btn-calculator {
                        display: inline-block;
                        border-radius: 5px;
                        background-color: var(--main-color);
                        border: none;
                        color: #FFFFFF;
                        text-align: center;
                        width: 70px;
                        font-size: 22px;
                        padding: 2px 20px;
                        transition: all 0.5s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}