.container {
    display: flex;
    align-items: center;
    justify-content: center;
    .calculator2 {
        display: grid;
        background-color: var(--main-background-color);
        margin-top: 50px;
        width: 320px;
        padding: 10px;
        .input {
            background-color: white;
            text-align: right;
            min-height: 25px;
            width: 100%;
            font-size: 25px;
            padding: 5px 0;
        }
        .keys {
            display: grid;
            grid-template-columns: auto auto auto auto;
            width: 100%;
            margin-top: 10px;
            button {
                display: inline-block;
                border-radius: 5px;
                background-color: var(--main-color);
                border: none;
                color: #FFFFFF;
                text-align: center;
                width: 70px;
                font-size: 22px;
                padding: 2px 20px;
                transition: all 0.5s;
                cursor: pointer;
                &:hover {
                    color: black;
                    outline: 0.05em solid grey;
                }
            }
            .btn-result {
                background-color: var(--main-result);
                grid-row: 4;
                grid-column: 4;
                grid-row-start: 6;
                grid-row-end: 4;
            }
            .btn-zero {
                grid-column-start: 3;
                grid-column-end: 1;
                width: 150px;
            }
            .btn-clear {
                background-color: var(--main-clear);
            }
        }
    }
}